body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/bg.gif");
  background-size: cover;
  .App {
    .clock {
      text-align: center;
      color: #dcc6e0;
      font-size: 14em;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      @keyframes color {
        to {
          color: #e74c3c;
        }
      }
      animation-name: color;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}
