body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/bg.gif");
  background-size: cover;
  .App {
    .clock {
      text-align: center;
      color: #dcc6e0;
      font-size: 14em;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
}
